@font-face {
    font-family: Minecraft;
    src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

.minecraft-section {
    width: 100%;
    height: auto;
    background-image: url('../Images/stone\ texture.png');
}

.minecraft-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: #0000009c;
}

.minecraft-button-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}


.minecraft-button {
    height: 100px;
    width: 500px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-image: url('../Images/Minecraft.png');
    background-size: cover;
    color: #fff;
    transition: all 0.3s;
    filter: drop-shadow(2px 2px 10px #000);
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.minecraft-button:hover {
    scale: 1.1;
}

.minecraft-button-black {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
    border-radius: 5px;
    z-index: -1;
}

.minecraft-header {
    width: 100%;
    background-color: #00000000;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Minecraft;
    font-size: 6em;
    height: auto;
    align-items: center;
    gap: 100px;
}

.minecraft-text {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.minecraft-header h1 {
    text-shadow: 0px 0px 10px #000;
    margin: 0;
    padding: 0;
}

.gaming-div {
    width: 500px;
    height: 500px;
    /* background-image: url('../Images/Minecraft.png'); */
    background-image: url('../Images/Screenshot\ \(233\).png');
    background-size: cover;
    background-position: center;
    transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;

  &:hover {
    transform:
      perspective(800px)
      rotateY(-15deg)
      translateY(-50px)
      rotateX(10deg)
      scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.minecraft-info-container {
    width: 100%;
    height: 100%;
}

.minecraft-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.minecraft-list {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.minecraft-li {
    font-family: Minecraft;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 200px;
    background-color: #00000000;
    padding: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px 15px #000;
}

.info-text {
    width: 500px;
    height: 100%;
}

.info-text p span {
    background: url('../Images/pack_3530346.png') no-repeat center center;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    -moz-background-clip:text;
}

.minecraft-li p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.li-image {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
}

#li-image-1 {
    background-image: url('../Images/playMinecraft\ \(2\).png');
    background-size: cover;
    background-position: center;
}

#li-image-2 {
    background-image: url('../Images/withfriends.png');
    background-size: cover;
    background-position: center;
}

#li-image-3 {
    background-image: url('../Images/multiplayer.png');
    background-size: cover;
    background-position: center;
}