@font-face {
    font-family: Hitmarker;
    src: url('../Fonts/HitmarkerCondensed-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1b1b1b;
    cursor: url('../cursors/cursor.png'), default !important;
}

::selection {
    background: #fff;
    color: #000;
}

::-webkit-scrollbar {
    width: 8px;
}
  

::-webkit-scrollbar-track {
    background-color: #1b1b1b00;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(46, 0, 77); 
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 0, 34); 
}

#user-text {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #000;
    color: #fff;
}

.body-container {
    width: 100%;
    height: 100%;
    background-image: url('../Images/Screenshot\ \(198\).png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration {
    width: 1100px;
    height: 700px;
    background-color: #ffedfa80;
    border-radius: 5px;
    display: flex;
    box-shadow:  5px 5px 0px #484848,
             -5px -5px 0px #ffffff;
}

.aside-div {
    height: 100%;
    width: 45%;
    background-image: url('../Images/gif.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0,0 100%,90% 100%,100% 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
    border-radius: 5px;
}

.registration-div {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 4px;
}

.registration-header {
    width: 100%;
    height: 15%;
    background-color: #fff;
    box-shadow: 0 5px 20px -15px #ffbf0f;
    /* box-shadow: inset 5px 5px 19px #bebebe,
                inset -5px -5px 19px #ffffff; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#register-p {
    color: rgb(255, 187, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 13px;
}

#help-p {
    color: rgb(216, 216, 216);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#help-p:hover {
    cursor: pointer;
}

.registration-form {
    height: 85%;
    width: 100%;
}

.registration-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}

.registration-form form p {
    font-size: 13px;
    color: rgb(133, 133, 133);
    cursor: pointer;
}

.input {
    width: 80%;
    height: 45px;
    padding: 20px;
    border: none;
    background-color: #dddddd;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-family: Hitmarker;
    letter-spacing: 2px;
}

#password::after {
    width: 20px;
    height: 20px;
    background-color: #000;
}

input:focus {
    outline: none;
    scale: 1.02;
    box-shadow: 2px 2px 5px #8676cd70;
}

::placeholder {
    font-family: Hitmarker;
    letter-spacing: 2px;
}

.button {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffbf0f;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s;
}

.button:hover {
    box-shadow: 5px 5px 5px #8676cd70;
    transform: translate(-1%, -1%);
}

.button:active {
    box-shadow: 0px 0px 0px #8676cd70;
    transform: translate(0, 0);
}

.users {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000009a;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.users-container {
    width: 500px;
    height: 800px;
    background-color: #fff;
    border-radius: 4px;
    animation: boxBounce .95s both;
}

.users-header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 20px -15px #ffbf0f;
}

.x-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.x-container:hover {
    background-color: #1b1b1b94;
}

#x {
    cursor: pointer;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    height: 92%;
    width: 100%;
    background-color: rgb(170, 170, 170);
    border-radius: 4px;
    font-family: Hitmarker;
    letter-spacing: 2px;
    font-size: 30px;
}

.main {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    padding: 20px;
    overflow-x: hidden;
    font-family: Hitmarker;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.user-text {
    background-color: #00000025;
    border-radius: 4px;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes boxBounce {
    0%,20%,40%,60%,80%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }

    20% {
        transform: scale3d(1.1,1.1,1.1);
    }

    40% {
        transform: scale3d(.9,.9,.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03);
    }

    80% {
        transform: scale3d(.97,.97,.97);
    }

    to {
        opacity: 1;
        transform: scaleZ(1);
    }
}

@media only screen and (max-width: 769px) {
    .registration {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        justify-content: center;
        align-items: center;
    }

    .aside-div {
        display: none;
    }

    .registration-container {
        height: 90%;
        width: 70%;
    }

    .registration-div {
        height: 100%;
        width: 100%;
        box-shadow: 5px 5px 5px #8676cda2;
    }

    .registration-header {
        padding: 10px;
    }

    #help-p {
        text-align: right;
    }

    .registration-form form {
        gap: 5px;
        /* padding-top: 20px; */
    }

    .input {
        /* height: 30px; */
        font-size: 10px;
        padding: 10px;
    }

    .button {
        /* height: 35px; */
        width: 90%;
    }

    .users-container {
        height: 95%;
        width: 95%;
    }
}